mixin about()
  - 
    const cards = [
      {
        img: {
          title: "about-01"
        }, 
        desc: "Ни капли не разочарован в услугах. Все сделали от начала и до конца. Особое внимание хочу уделить телефонным переговорам, т.к. я человек занятой и времени на встречи нет. Очень часто излагал свои требования неясно и в впопыхах, тем не менее, меня понимали с полуслова. В общем, если вам дорого ваше время и деньги, то это место для вас!",
      },
      {
        img: {
          title: "about-01"
        }, 
        desc: "Ни капли не разочарован в услугах. Все сделали от начала и до конца. Особое внимание хочу уделить телефонным переговорам, т.к. я человек занятой и времени на встречи нет. Очень часто излагал свои требования неясно и в впопыхах, тем не менее, меня понимали с полуслова. В общем, если вам дорого ваше время и деньги, то это место для вас!",
      },
      {
        img: {
          title: "about-01"
        }, 
        desc: "Ни капли не разочарован в услугах. Все сделали от начала и до конца. Особое внимание хочу уделить телефонным переговорам, т.к. я человек занятой и времени на встречи нет. Очень часто излагал свои требования неясно и в впопыхах, тем не менее, меня понимали с полуслова. В общем, если вам дорого ваше время и деньги, то это место для вас!",
      },
    ]

  section.about  
    .container 
      .about__wrapper 
        h1.about__title Что о нас говорят наши клиенты
        .about__content(data-element="about-content")
          .about__slider.swiper(data-slider="customer")
            .swiper-wrapper 
              each card in cards
                .swiper-slide
                  +about-card(card)
          .about__buttons
            .swiper-button-next
              +icon("icon-btn", 50, 50)
            .swiper-button-prev
              +icon("icon-btn", 50, 50)