mixin collection()
    section.collection  
        .container 
            .collection__wrapper
                .collection__top 
                    h2.collection__title Коллекции
                    a(href="#!").collection__link Все коллекции
                ul.collection__list 
                    li.collection__item 
                        .collection__image 
                            img(src="img/content/collection/card1.webp" alt="Товар из коллекции")
                        h3.collection__title-bottom Essential
                    li.collection__item 
                        .collection__image 
                            img(src="img/content/collection/card2.webp" alt="Товар из коллекции")
                        h3.collection__title-bottom Repair
                    li.collection__item 
                        .collection__image 
                            img(src="img/content/collection/card3.webp" alt="Товар из коллекции")
                        h3.collection__title-bottom Ultra
