mixin intro()
  section.intro
    .container
      .intro__wrapper
        .intro__banner 
          img(src="img/content/intro/intro-banner.webp")
        .intro__info 
          h1.intro__title Заботимся о коже с использованием научных открытий
          p.intro__text atoveé — бренд уходовой косметики, предлагающий безопасные и эффективные решения для ухода за атопичной, сухой и чувствительной кожей.  Наши продукты основаны на научных исследованиях и разработаны с учетом потребностей клиентов, обеспечивая уверенность и комфорт в ежедневном уходе и особенно в периоды обострения.
          a(href="#!").intro__link Подробнее