mixin merit()
    section.merit
        .container 
            .merit__wrapper 
                h1.merit__title Наши преимущества
                p.merit__text За более чем 10-летний опыт успешной работы в интернете наша команда специалистов накопила огромнейший пласт опыта, сформировав при этом уникальные эффективные принципы работы с клиентами и партнерами.
                .merit__inner 
                    .merit__box 
                        .merit__num 
                            span 12+
                            span +180
                            span 10+
                        .merit__info 
                            .merit__info-img 
                                img(src="img/content/ellipse.png" alt="Окружность текста")
                            p Лет опыта в IT отрасли
                            p Выполненных проектов
                            p Гарантия срока
                            .merit__image 
                                +icon("icon-blue", 218, 218).merit__icon
                    .merit__box 
                        .merit__num 
                            span 12+
                            span +180
                            span 10+
                        .merit__info 
                            .merit__info-img 
                                img(src="img/content/ellipse.png" alt="Окружность текста")
                            p Гарантия результата
                            p Продвигаемых запросов
                            p Сайтов на продвижении
                            .merit__image 
                                +icon("icon-blue", 218, 218).merit__icon