.intro {
  background: linear-gradient(to bottom, #3CB4E5 5%, #00A0D2 40%, #6BC4E8);
  &__wrapper {
    padding: 0;
    display: flex;
    gap: 20px;
    @include vp-1199 {
      padding: 0;
    }

    @include vp-767 {
      padding: 0;
    }
  }

  &__banner {
    width: 790px;
    height: 800px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 150px 0 100px;
  }

  &__title {
    font-family: $ff-monts;
    font-size: 64px; 
    line-height: 64px;
    color: $color-default-white;
    margin: 0 0 50px;
    text-align: center;
    @include vp-1199 {
      font-size: 40px;
      margin-bottom: 30px;
    }

    @include vp-767 {
      font-size: 33px;
      margin-bottom: 10px;
      line-height: 35px;
    }
  }

  &__text {
    font-family: $ff-inter;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: $color-default-white;
    margin-bottom: 50px;
  }

  &__link {
    display: block;
    text-align: center;
    border-radius: 50px;
    max-width: 385px;
    width: 100%;
    background: $color-default-white;
    font-family: $ff-inter;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #00A0D2;
    text-transform: uppercase;
    padding: 19px 20px;
    margin: 0 auto;
  }
}
