.main-nav {
  
  @include vp-1199 {
    margin-right: auto;
    margin-left: 44px;
  }

  @include vp-767 {
    margin: 0 0 0 20px;
  }

  &__toggle {
    z-index: 11;
    position: relative;
    display: none;

    width: 35px;
    height: 20px;

    cursor: pointer;
    user-select: none;

    transition: opacity $trans-default;

    @include vp-1199 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      display: block;
      position: absolute;
      border-radius: 10px;
      left: 0;

      width: 100%;
      height: 3px;

      background-color: $color-default-white;

      transition: transform $trans-default, opacity $trans-default,
        visibility $trans-default;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;

        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  ul,
  .main-nav__list,
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 20px 0 0;
    list-style: none;
    // position: relative;
    @include vp-1199 {
      z-index: 10;
      position: fixed;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      top: 90px;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $color-default-black;
      width: 100%;
      padding: 0px 0px 20px;
      overflow-y: auto;
      overflow-x: hidden !important;
      transition: transform $trans-default, visibility $trans-default,
        opacity $trans-default;
      transform: translateX(100%);
    }
  }

  li,
  &__item {
    margin-right: 50px;
    // position: relative;

    svg {
      text-align: center;
      display: block;
      margin: 10px auto 0;
      transition: .3s;
      @include vp-1199 {
        margin: 0;
        position: absolute;
        right: 20px;
        top: 15px;
      }
    }

    &.is-active {
      svg {
        transform: rotate(180deg);
      }
      @include vp-1199 {
        svg {
          transition: .3s;
          margin: 0;
          position: absolute;
          right: 20px;
          top: 15px;
          transform: rotate(180deg);
        }

        a {
          border-bottom: none;
        }
      }
    }

    a {
      
      transition: border-bottom $trans-default;

      @include vp-1199 {
        border-bottom: none;
      }
    }

    &:hover {
      a {
        

        @include vp-1199 {
          border-bottom: none;
        }
      }
    }

    @include vp-1439 {
      margin-right: 20px;
    }

    @include vp-1199 {
      margin-right: 0;
      padding: 0px;
      width: 100%;
      text-align: center;
      position: relative;
      background: transparent;
      border-bottom: 1px solid transparent;
      border-image: linear-gradient(to right, #ea32d9 0%, #004bed 100%) 1;
      transition: $trans-default;
    }

    &:last-child {
      margin-right: 0;

      @include vp-767 {
        margin-bottom: 0;
      }
    }

    .main-nav__sub-content {
      width: 100%;
      max-width: 1680px;
      margin: 0 auto;
      padding: 0 40px;
      display: flex;
      gap: 10px;

      li {
        max-width: 240px;
      }
    }

    ul,
    .main-nav__sub-list {
      max-width: 100%; 
      width: 100vw; 
      padding: 30px 0; 
      position: absolute; 
      display: flex;
      top: 100%; 
      left: 0; 
      background-color: #FFFBFB; 
      opacity: 0; 
      visibility: hidden; 
      transition: opacity $trans-default; 
      &::before {
        content: "";
        position: absolute;

        right: 0;
        left: 0;

        width: 100%;
        display: block;
        height: 50px;
        top: -30px;
      }
      &.is-active {
        opacity: 1;
        visibility: visible;

        @include vp-1199 {
          li {
            border-left: none;
            border-right: none;
            
          }
        }
       
      }

      li {
        margin: 0;
        padding: 0px;
        max-width: 240px; 
        width: 100%;
        margin: 0; 
        position: relative;
        background: transparent;
        a {
          width: 100%; 
          display: block; 
          font-family: $ff-inter;
          font-size: 20px;
          line-height: 24px;
          color: #00A0D2;
          border: none;
          margin: 0 0 20px;
          padding: 0px; // Добавляем отступы для ссылок
          @include vp-1199 {
            padding: 14px 20px;
          }

          @include vp-767 {
            display: block;
            border: none !important;
          }
        }

        @include vp-1199 {
          border-left: none;
          border-right: none;
          border-top: none;
          border-bottom: 1px solid transparent;
          border-image: linear-gradient(to right, #ea32d9 0%, #004bed 100%) 1;
          text-align: left;
          padding: 0;
        }

        @include vp-767 {
          text-align: center;
          display: grid;
          grid-template-columns: 0.1fr 1fr 0.1fr;
          a {
            grid-column: 2;
          }
        }
      }

      

     

      li:hover {

        @include vp-1199 {
          background: transparent;
        }
      }

      @include vp-1199 {
        width: 100%;
        transform: translateX(0);
        transition: none;
        &.is-active {
          position: static;
          transform: translateX(0);
        }

        &::before {
          content: none;
          display: none;
        }
      }
    }
  }

  .main-nav__bottom-list {
    position: static;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    &::before {
      height: 0;
    }

  }

  .main-nav__bottom-item {

    a {
      font-family: $ff-inter;
      font-size: 18px !important;
      line-height: 21px;
      color: $color-default-black !important;
    }
  }

  &__item:first-child {
    @include vp-1199 {
      border-top: 1px solid transparent;
      border-image: linear-gradient(to right, #ea32d9 0%, #004bed 100%) 1;
    }
  }

  a,
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: $ff-inter;
    font-size: 24px;
    line-height: 28px;
    color: $color-default-black;
    transition: $trans-default;
    transform: translate3d(0, 0, 0);
    margin: 0;
    svg {
      transition: 0.2s;
    }


    &.is-active {
      svg {
        transition: 0.2s;
        transform: rotate(180deg);
      }

    }

    &:hover {
     p {
      font-weight: 600;
     }
    }

    @include vp-1199 {
      flex-direction: row;
      justify-content: space-between;
      padding: 14px 20px;
    }

    @include vp-767 {
      display: grid;
      grid-template-columns: 0.1fr 1fr 0.1fr;
      span {
        grid-column: 2;
      }

      svg {
        justify-self: end;
      }
    }
  }

  a {
    @include vp-767 {
      display: block;
    } 
  }

  
}
